{% extends 'base.html' %}

{% block content %}

  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>KONTAKT:</h2>
            <br>
            <h3>Firma: Qumasz Izabela Paszkowska</h3>
            <br>
            <h3>NIP: 826 221 72 42</h3>
            <br>
            <h3>Adres: Stary Pilczyn 77, 08-450 Łaskarzew</h3>
            <br>
            <h3>E-mail: qumasz.kontakt@gmail.com</h3>
            <div class="phone-info">
              <h4>Zadzwoń do nas: <span><i class="fa fa-phone"></i> <a href="#">730-217-197</a></span></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <div class="col-md-6 padding_left0">
            <div class="map_main">
              <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9868.749194063008!2d21.6395692!3d51.8027382!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4718bfb15f10cf3f%3A0x18d38bc331e8f1f0!2sQUMASZ%20Izabela%20Paziewska!5e0!3m2!1spl!2spl!4v1678120396247!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}