{% extends 'base.html' %}

{% block content %}

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
        </div>

        <div class="col-lg-8 align-self-center">
          <div class="servis">
            <div class="row">
              <p><b>Nazywam się Izabela Paziewska. Obecnie Studiuję Finanse i Rachunkowość w Szkole Głównej Handlowej w Warszawie.</b></p>
              <br>
              <p><b>Podczas lekcji zawsze staram się wytłumaczyć wszystko od podstaw. Mam indywidualne podejście do każdego ucznia. Na zajęciach panuje miła atmosfera. </b></p>
              <br>
                <h3><b>Moim celem nie jest oceniać ucznia, ale pomóc mu w nauce tak, aby matematyka przestała być straszna :) </b></h3>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
<br>
<div id="opis-onas" class="our-portfolio section">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
              <h2>SIEDZIBA FIRMY<br>
            <a href="/kontakt" rel="nofollow">Stary Pilczyn 77, 08-450 Łaskarzew</a></h2>
          </div>
</div>
 <div id="onas1" class="our-blog section">
      <div class="row">
        <div id="onas-space" class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
        <div id="info-onas1">
          <div class="pt">
            <div class="img1">
              <img src="static/images/Onas/1-zewnątrz/1.jpg">
            </div>
            <div class="img2">
              <img src="static/images/Onas/1-zewnątrz/2.jpg">
            </div>
            <div class="img3">
              <img src="static/images/Onas/1-zewnątrz/3.jpg">
            </div>
          </div>
        </div>
        </div>
      </div>
 </div>
<br>
<br>
<br>
<div id="opis-onas" class="our-portfolio section">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>PROWADZIMY LEKCJE Z WYKORZYSTANIEM NOWOCZESNEJ TECHNOLOGII</h2>
          </div>
</div>
 <div id="onas2" class="our-blog section">
      <div class="row">
        <div id="onas-space" class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
        <div id="info-onas2">
          <div class="pt1">
            <div class="img11">
              <img src="static/images/Onas/2-technologie/4.jpg">
            </div>
            <div class="img22">
              <img src="static/images/Onas/2-technologie/1.jpg">
            </div>
            <div class="img33">
              <img src="static/images/Onas/2-technologie/3.jpg">
            </div>
          </div>
          <div class="pt2">
            <div class="img44">
              <img src="static/images/Onas/2-technologie/2.jpg">
            </div>
            <div class="img55">
              <img src="static/images/Onas/2-technologie/5.jpg">
            </div>
          </div>
        </div>
        </div>
      </div>
 </div>
<br>
<br>
<br>
<div id="opis-onas" class="our-portfolio section">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>LEKCJE INDYWIDUALNE</h2>
          </div>
</div>
 <div id="onas1" class="our-blog section">
      <div class="row">
        <div id="onas-space" class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
        <div id="info-onas1">
          <div class="pt">
            <div class="img1">
              <img src="static/images/Onas/3-indywidualne/2.jpg">
            </div>
            <div class="img2">
              <img src="static/images/Onas/3-indywidualne/3.jpg">
            </div>
            <div class="img3">
              <img src="static/images/Onas/3-indywidualne/1.jpg">
            </div>
          </div>
        </div>
        </div>
      </div>
 </div>
<br>
<br>
<br>
<div id="opis-onas" class="our-portfolio section">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>LEKCJE GRUPOWE</h2>
          </div>
</div>
 <div id="onas1" class="our-blog section">
      <div class="row">
        <div id="onas-space" class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
        <div id="info-onas1">
          <div class="pt">
            <div class="img1">
              <img src="static/images/Onas/4-grupowe/2.jpg">
            </div>
            <div class="img2">
              <img src="static/images/Onas/4-grupowe/3.jpg">
            </div>
            <div class="img3">
              <img src="static/images/Onas/4-grupowe/1.jpg">
            </div>
          </div>
        </div>
        </div>
      </div>
 </div>
<br>
<br>
<br>
<br>
<div id="opis-onas" class="our-portfolio section">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>LEKCJE ZDALNE</h2>
          </div>
</div>
 <div id="onas1" class="our-blog section">
      <div class="row">
        <div id="onas-space" class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
        <div id="info-onas1">
          <div class="pt3">
            <div class="img111">
              <img src="static/images/Onas/5-zdalne/2.jpg">
            </div>
            <div class="img222">
              <img src="static/images/Onas/5-zdalne/1.jpg">
            </div>
          </div>
        </div>
        </div>
      </div>
 </div>
<br>
<br>
<br>
<br>

{% endblock %}