{% extends 'base.html' %}

{% block content %}

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
        </div>

        <div class="col-lg-8 align-self-center">
          <div class="services">
            <div class="row">
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                  <div class="icon">
                    <img src="static/images/service-icon-01.png" alt="reporting">
                  </div>
                  <div class="right-text">
                    <h4>Data Analysis</h4>
                    <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                  <div class="icon">
                    <img src="static/images/service-icon-02.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Data Reporting</h4>
                    <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
                  <div class="icon">
                    <img src="static/images/service-icon-03.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Web Analytics</h4>
                    <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.1s">
                  <div class="icon">
                    <img src="static/images/service-icon-04.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>SEO Suggestions</h4>
                    <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
<br>
<div id="opis-onas" class="our-portfolio section">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>Tu znajduje się nasza siedziba!</h2>
          </div>
</div>
 <div id="onas1" class="our-blog section">
      <div class="row">
        <div id="onas-space" class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
        <div id="info-onas1">
          <div class="pt">
            <div class="img1">
              <img src="static/images/Onas/1-zewnątrz/1.jpg">
            </div>
            <div class="img2">
              <img src="static/images/Onas/1-zewnątrz/2.jpg">
            </div>
            <div class="img3">
              <img src="static/images/Onas/1-zewnątrz/3.jpg">
            </div>
          </div>
        </div>
        </div>
      </div>
 </div>
<br>
<br>
<br>
<div id="opis-onas" class="our-portfolio section">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>Prowadzimy lekcje z wykorzystaniem nowoczesnej technologii!</h2>
          </div>
</div>
 <div id="onas2" class="our-blog section">
      <div class="row">
        <div id="onas-space" class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
        <div id="info-onas2">
          <div class="pt1">
            <div class="img11">
              <img src="static/images/Onas/2-technologie/4.jpg">
            </div>
            <div class="img22">
              <img src="static/images/Onas/2-technologie/1.jpg">
            </div>
            <div class="img33">
              <img src="static/images/Onas/2-technologie/3.jpg">
            </div>
          </div>
          <div class="pt2">
            <div class="img44">
              <img src="static/images/Onas/2-technologie/2.jpg">
            </div>
            <div class="img55">
              <img src="static/images/Onas/2-technologie/5.jpg">
            </div>
          </div>
        </div>
        </div>
      </div>
 </div>
<br>
<br>
<br>
<div id="opis-onas" class="our-portfolio section">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>Tak wyglądają lekcje indywidualne!</h2>
          </div>
</div>
 <div id="onas1" class="our-blog section">
      <div class="row">
        <div id="onas-space" class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
        <div id="info-onas1">
          <div class="pt">
            <div class="img1">
              <img src="static/images/Onas/3-indywidualne/2.jpg">
            </div>
            <div class="img2">
              <img src="static/images/Onas/3-indywidualne/3.jpg">
            </div>
            <div class="img3">
              <img src="static/images/Onas/3-indywidualne/1.jpg">
            </div>
          </div>
        </div>
        </div>
      </div>
 </div>
<br>
<br>
<br>
<div id="opis-onas" class="our-portfolio section">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>W naszej ofercie są również lekcje grupowe!</h2>
          </div>
</div>
 <div id="onas1" class="our-blog section">
      <div class="row">
        <div id="onas-space" class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
        <div id="info-onas1">
          <div class="pt">
            <div class="img1">
              <img src="static/images/Onas/4-grupowe/2.jpg">
            </div>
            <div class="img2">
              <img src="static/images/Onas/4-grupowe/3.jpg">
            </div>
            <div class="img3">
              <img src="static/images/Onas/4-grupowe/1.jpg">
            </div>
          </div>
        </div>
        </div>
      </div>
 </div>
<br>
<br>
<br>
<br>
<div id="opis-onas" class="our-portfolio section">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>A tak wyglądają u nas lekcje zdalne!</h2>
          </div>
</div>
 <div id="onas1" class="our-blog section">
      <div class="row">
        <div id="onas-space" class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
        <div id="info-onas1">
          <div class="pt3">
            <div class="img111">
              <img src="static/images/Onas/5-zdalne/2.jpg">
            </div>
            <div class="img222">
              <img src="static/images/Onas/5-zdalne/1.jpg">
            </div>
          </div>
        </div>
        </div>
      </div>
 </div>
<br>
<br>
<br>
<br>
<div id="opis-onas" class="our-portfolio section">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>Od nas wychodzisz z pozytywnym nastawieniem i opanowanym materiałem!</h2>
          </div>
</div>
 <div id="onas" class="our-blog section">
      <div class="row">
        <div id="onas-space" class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
        <div id="info-onas">
          <div class="pt4">
            <div class="img12">
              <img src="static/images/Onas/PozytywneNastawienie/1.jpg">
            </div>
            <div class="img23">
              <img src="static/images/Onas/PozytywneNastawienie/2.jpg">
            </div>
            <div class="img34">
              <img src="static/images/Onas/PozytywneNastawienie/1.jpg">
            </div>
          </div>
        </div>
        </div>
      </div>
 </div>
<br>
<br>
<br>
<br>
{% endblock %}