{% extends 'base.html' %}

{% block content %}


<div id="blog" class="our-blog section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 wow fadeInDown animated" data-wow-duration="1s" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-duration: 1s; -moz-animation-duration: 1s; animation-duration: 1s;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
          <div class="section-heading">
            <h2>Co nowego w <span>Qumasz</span></h2>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInDown animated" data-wow-duration="1s" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-duration: 1s; -moz-animation-duration: 1s; animation-duration: 1s;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
          <div class="top-dec">
            <img src="static/images/blog-dec.png" alt="">
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      {% for post in posts %}
      <div class="row">
        <div id="blogbase" class="col-lg-6 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.25s" style="visibility: visible;-webkit-animation-duration: 1s; -moz-animation-duration: 1s; animation-duration: 1s;-webkit-animation-delay: 0.25s; -moz-animation-delay: 0.25s; animation-delay: 0.25s;">
          <div class="left-image">
            <a href="#"><img src="{{ post.image.url }}"></a>
            <br>
            <br>
            <div class="info">
              <div class="inner-content1">
                <ul>
                  <li><i class="fa fa-calendar"></i>{{ post.published_date }}</li>
                  <li><i class="fa fa-users"></i> {{ post.author}}</li>
                </ul>
                <a href="{% url 'post_detail' pk=post.pk %}"><h4>{{ post.title }}</h4></a>
                <em>{{ post.text|linebreaksbr }}</em><br/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      {% endfor %}
    </div>
  </div>

{% endblock %}