{% extends 'base.html' %}

{% block content %}
<div id="blog" class="our-blog section" xmlns="http://www.w3.org/1999/html">
    <div class="container">
      <div class="row">
          {% if post.published_date %}
        <div class="fa fa-calendar">
            {{ post.published_date }}
        </div>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="left-image">
            <a href="#"><img src="{{ post.image.url }}" alt=""></a>
            <div class="info">
              <div class="inner-content">
                <ul>
                  <li><i class="fa fa-users"></i> {{ post.author }}</li>
                </ul>
               <h4>{{ post.title }}</h4>
                <p>{{ post.text|linebreaksbr }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

