{% extends 'base.html' %}

{% block content %}

 <div id="blog" class="our-blog section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
        </div>
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="top-dec">
            <img src="assets/images/blog-dec.png" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
        {% for opinion in opinions %}
        <div class="info">
            <div class="inner-content">
            </div><h2><b>{{ opinion.author }}</b></h2>
        <br/>
            <p>" <em>{{ opinion.text|linebreaksbr }}</em> "</p><br/>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}



